*,
*:after,
*:before {
  font-family: "Nanum Square Round";
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a:visited {
  color: black;
}

body,
textarea,
button {
  font-family: "Nanum Square Round", "Spoqa Hans Sans Neo", "Spoqa Han Sans",
    Spoqa Han Sans JP, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s;
  -webkit-text-fill-color: black !important;
}

*:focus {
  outline: none;
}

a {
  text-decoration: none;
  font-family: "Nanum Square Round", "Spoqa Hans Sans Neo", "Spoqa Han Sans";

  &:hover {
    text-decoration: none;
  }
}

a,
button {
  cursor: pointer;
}

button {
  border: none;
  outline: none;
}

figure {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ol {
  margin-top: 0;
}

pre {
  font-family: "Nanum Square Round", "Spoqa Hans Sans Neo", "Spoqa Han Sans";
}

textarea {
  resize: none;
  font-family: "Nanum Square Round", "Spoqa Hans Sans Neo", "Spoqa Han Sans",
    Spoqa Han Sans JP, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    "Helvetica Neue", Helvetica, Arial, sans-serif;
}
