@font-face {
  font-family: "Nanum Square Round";
  src: url("./fonts/NanumSquareRound/NanumSquareRoundLight.otf")
    format("opentype");
  font-style: normal;
  font-weight: 200;
}

@font-face {
  font-family: "Nanum Square Round";
  src: url("./fonts/NanumSquareRound/NanumSquareRoundRegular.otf")
    format("opentype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Nanum Square Round";
  src: url("./fonts/NanumSquareRound/NanumSquareRoundBold.otf")
    format("opentype");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "Nanum Square Round";
  src: url("./fonts/NanumSquareRound/NanumSquareRoundExtraBold.otf")
    format("opentype");
  font-style: normal;
  font-weight: 700;
}
