// signIn, signUp style

@use '../styles/mixins' as m;
@use '../styles/constants' as c;

.wrap {
  @include m.flex(center, center, column);
  height: 80%;
  padding-top: 40px;

  > h1 {
    @include m.title();
  }
}

.form {
  @include m.flex(center, center, column);
  padding-top: 40px;
  width: 360px;

  > button {
    @include m.button(4px);
    width: 100%;
    height: 52px;
    font-size: 18px;
    margin-top: 20px;

    &:disabled {
      background-color: c.$C_GREY;
      cursor: auto;
    }
  }

  > input {
    width: 100%;
    height: 58px;
    padding: 20px;
    font-size: 16px;
    border: 0.5px solid c.$C_GREY;

    &::placeholder {
      color: c.$C_GREY;
    }

    &:first-of-type {
      border-radius: 4px 4px 0px 0px;
      border-bottom: 0px;

      &:focus {
        border: 0.5px solid c.$C_PRIMARY;
        border-bottom: 0px;

        & + input {
          border-top: 0.5px solid c.$C_PRIMARY;
        }
      }
    }

    &:last-of-type {
      border-radius: 0px 0px 4px 4px;
      &:focus {
        border: 0.5px solid c.$C_PRIMARY;
      }
    }
  }
}

.link {
  font-size: 14px;
  padding-top: 16px;
  color: rgba(1, 1, 1, 0.6);
}
