@use '../../styles/mixins' as m;
@use '../../styles/constants' as c;

.wrap {
  @include m.flex(center, center, column);
  width: 100%;
  height: 100%;
  padding: 40px;

  > h1 {
    font-size: 42px;
    padding: 20px 0;
    color: c.$C_BLACK;

    > span {
      @include m.title(42px);
    }
  }

  > .description {
    color: c.$C_GREY;
    white-space: pre-wrap;
    line-height: 1.4;
    text-align: center;
    letter-spacing: 0.2px;
  }

  > button {
    @include m.button();
    width: 100px;
    margin: 40px 0;
  }
}
