@use '../styles/mixins' as m;
@use '../styles/constants' as c;

.wrap {
  @include m.flex(flex-start);
  margin: 12px 0;
  width: 100%;
}

.checkLabel {
  @include m.flex(flex-start);
  cursor: pointer;

  > input {
    visibility: hidden;
  }

  > span {
    font-size: 18px;
    padding: 0 16px 0 8px;
    user-select: none;
  }

  .icon {
    width: 32px;
    height: 32px;
    position: relative;

    > svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .lemon {
    width: 28px;
    height: 28px;
    fill: c.$C_PRIMARY;
  }

  .check {
    width: 14px;
    height: 14px;
    fill: c.$C_BLACK;
    opacity: 0;
  }

  input:checked + .icon {
    .lemon {
      fill: c.$C_GREY;
    }

    .check {
      opacity: 1;
    }
  }
  input:checked + .icon + span {
    color: c.$C_GREY;
    text-decoration: line-through;
  }
}

.modifyInput {
  border: 0.5px solid c.$C_GREY;
  padding: 4px;
  border-radius: 4px;
  margin: 0 4px;
  font-size: 16px;

  &:focus {
    border: 0.5px solid c.$C_PRIMARY;
  }
}

.basicButton {
  padding: 4px;
  font-size: 12px;
  margin: 0 2px;
  border-radius: 2px;
  transition: 0.1s background-color ease-in;

  &:hover {
    background-color: c.$C_GREY;
  }
}
