@use "../../styles/mixins" as m;

.wrap {
  width: 100%;
  height: 100vh;
  padding: 18px;
  box-sizing: border-box;

  > .footer {
    @include m.flex();
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 14px;

    svg {
      width: 16px;
      height: 16px;
      padding: 0 0 1px 2px;
    }
  }
}
